:host ::ng-deep {
    display: block;
    height: inherit;
    width: inherit;
}
  .line{
    stroke-dasharray: 5,5;
    /* marker-start:url(#Triangle); */
  }
  .line::before{
    content: '2';
  }

  #upperarrow{
    /* transform: rotate(180deg); */
  }

:host ::ng-deep.cardContainer {
      height: 100;
      width: 150;
      display: block;
}
      :host ::ng-deep.name {
        font-size: 24px;
      }
  
      :host ::ng-deep label {
        display: block;
        text-align: center;
        font-size: 20px;
        margin-top: 4px;
        margin-bottom: 8px;
      }
    
  
    .linkMidpoint ellipse {
        fill: white;
        stroke: black;
        stroke-width: 1;
      }
  
      .linkMidpoint text {
        stroke: transparent;
        fill: black;
        text-anchor: middle;
        font-size: 10px;
      }
    
  